name: tf-root-env
channels:
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - scipy
  - pandas
  - matplotlib
  - scikit-learn
  - uproot
  - root
  - pypdf2
  - jupyterlab
  - notebook
  - ipykernel
  - tensorflow=2.15.*
  - keras=2.15.*
  